{% load static %}  <!-- Cargar los archivos estáticos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Site</title>
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'auctions:index' %}">Home</a></li>
            <li><a href="{% url 'auctions:categories' %}">Categories</a></li>
            {% if user.is_authenticated %}
                <li><span>Welcome, {{ user.username }}</span></li>
                <li><a href="{% url 'auctions:logout' %}">Logout</a></li>
                <li><a href="{% url 'auctions:create_listing' %}">Create Listing</a></li>
                <li><a href="{% url 'auctions:watchlist_store' %}">Watchlist</a></li>
            {% else %}
                <li><a href="{% url 'auctions:login' %}">Login</a></li>
                <li><a href="{% url 'auctions:register' %}">Register</a></li>
            {% endif %}
        </ul>

    </div>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <div class="footer">
        <p>&copy; 2024 Auction Site. All Rights Reserved.</p>
    </div>
</body>
</html>
