{% extends 'auctions/layout.html' %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p>Starting bid: ${{ listing.starting_bid }}</p>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
    {% endif %}
    <p>Category: {{ listing.category }}</p>
    <p>Owner: {{ listing.owner.username }}</p>

    {% if not listing.is_active %}
        <h3>Winner: {{ listing.winner.username }}</h3>
        <p>Winning Bid: ${{ listing.winning_bid }}</p>
    {% endif %}

    {% if user.is_authenticated and listing.is_active %}
    <div>
        <h3>Make bid</h3>
        <p>Current Bid: ${{ current_highest_bid }}</p>
        <form action="{% url 'auctions:bid' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" step="0.01" min="{{ listing.starting_bid }}" name="new_bid">
            <button type="submit">Submit bid</button>
        </form>
    </div>
    <div>
        <form action="{% url 'auctions:watchlist' listing.id %}" method="post">
            {% csrf_token %}
            {% if is_in_watchlist %}
                <button type="submit">Remove from Watchlist</button>
            {% else %}
                <button type="submit">Add to Watchlist</button>
            {% endif %}
        </form>
    </div>
    <div>
        {% if request.user == listing.owner %}
        <a href="{% url 'auctions:close_auction' listing.id %}">Close Auction</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
